<html>
<head>
<title>Create Template</title>
    <link rel="stylesheet" type="text/css" href="$link.relative('css/dbtcard.css')" 
        media="all"/>

<style>
li {
    float: left;
}
</style>
</head>
<body>
<h2>Diary Card</h2>
<p>$template.templateID</p>
<p>$template.name</p>
<p>$template.uid</p>
<h4>Feelings</h4>
#foreach( $f in $feelings )
<ul>
    <li>$f.target</li>
    <li>$f.description</li>
</ul>
#end
</body>
</html>