<html>
<head>
<title>Create Template</title>
<link type="text/css" href="css/start/jquery-ui-1.8.17.custom.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="$link.relative('css/dbtcard.css')"/>	

<script type="text/javascript" src="scripts/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="scripts/jquery-ui-1.8.17.custom.min.js"></script>
<script type="text/javascript" src="scripts/template-interface.js"></script>
<style>
h3 {
    margin-bottom: 0px;
}

table {
    font-size: 1em;
}

h3 {
    padding-left: 5;
    font-size: 1.3em;
}
</style>
</head>
<body>
<form method="post" action="template.create.logic">
#set( $feelings = $targets.get(0) )
#set( $thoughts = $targets.get(1) )
#set( $behaviors = $targets.get(2) )
<div id="wrapper">
    <p>Template Description:&nbsp;&nbsp;<input type="text" name="cardname"/></p>
    <div id="feelings" style="width:225px; float:left">
        <h3 class="ui-widget-header">Feelings</h3>
        <div class="ui-widget-content">
        <table border="0" cellpadding="3" cellspacing="3" width="100%">
        #foreach( $f in $feelings )
        <tr>
            <td>$f.target</td>
            <td align="right">
                <input type="checkbox" name="id" value="$f.targetID" />
            </td>
        </tr>
        #end
        </table>
        </div>
    </div>

   <div id="thoughts" style="width:225px; float:left; margin-left: 10px">
        <h3 class="ui-widget-header">Thoughts</h3>
        <div class="ui-widget-content">
        <table border="0" cellpadding="3" cellspacing="3" width="100%">
        #foreach( $t in $thoughts )
        <tr>
            <td>$t.target</td>
            <td align="right">
                <input type="checkbox" name="ids" value="$t.targetID" />
            </td>
        </tr>
        #end
        </table>
        </div>
    </div>

   <div id="behaviors" style="width:225; float:left; margin-left:10px">
        <h3 class="ui-widget-header">Behaviors</h3>
        <div class="ui-widget-content">
        <table border="0" cellpadding="3" cellspacing="3" width="100%">
        #foreach( $b in $behaviors )
        <tr>
            <td>$b.target</td>
            <td align="right">
                <input type="checkbox" name="ids" value="$b.targetID" />
            </td>
        </tr>
        #end
        </table>
        </div>
    </div>
</div>
</form>
</body>
</html>