body {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;   
}

#wrapper {
    margin: 10 auto 0 auto;
    width: 800px;
}

/* Overrides of UI Tab Syles */
.ui-tabs .ui-tabs-nav { 
    background: none;
    border: none;
    text-align: center;
}

.ui-tabs .ui-tabs-nav li a {
    font-weight: bold;  
}

/*.ui-state-active, 
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    border: 1px solid #acdd4a;
    font-weight: normal;
    color: #ffffff;
}
#77D5F7

#0078AE*/
/*.ui-tabs { 
    position: relative; 
    padding: .2em; 
}

.ui-tabs .ui-tabs-nav { 
    margin: 0; 
    padding: 0;
    height: 30px;
    width: 300px;
    border: 0;
    background: none;
}

.ui-tabs .ui-tabs-nav li {
    list-style: none; 
    float: left; 
    position: relative; 
    top: 0px; 
    margin: 0;
    border: 0;
    padding: 0;
    white-space: nowrap;
    height: 30px;
    width: 100px;
    align: center;
}

.ui-tabs .ui-tabs-nav li a {
    float: left; 
    padding: 0;
    text-decoration: none;
    margin-top: 7px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    margin: 0; 
    padding: 0;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-state-processing a
{
    cursor: text;
}

.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
    cursor: pointer;
}

.ui-tabs .ui-tabs-panel {
    display: block; 
    border-width: 0;
    padding: 0; 
    background: none;
}

.ui-tabs .ui-tabs-hide { 
    display: none !important;
}

#tab1 {
    -webkit-border-top-right-radius: 0;
    -khtml-border-top-right-radius: 0;
    border-top-right-radius: 0;
}

#tab2 {
    -webkit-border-top-right-radius: 0;
    -webkit-border-top-left-radius: 0;
    -khtml-border-top-right-radius: 0;
    -khtml-border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-right-radius: 0;
}

#tab3 {
    -webkit-border-top-left-radius: 0;
    -khtml-border-top-left-radius: 0;
    border-top-left-radius: 0;
}

#menuBtns {
    width: 300px;
}

#menuBtns h6 {
    color: white;
    background-color: #0078AE;
    height: 30px;
    vertical-align: middle;
}*/